#about {
    display: none;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto;
    color: white;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}