header {
    background-color: rgb(128, 128, 128, 0.8);

     h1 {
         margin: 0;
         font-size: 4rem;
     }
     
     nav {
        margin: 5px;

        button {
            font-size: 1rem;
            margin-right: 25px;
            margin-bottom: 10px;
            cursor: pointer;
            background-color: transparent;
            border: 2px solid transparent;
            box-sizing: border-box;

            &:hover {
                border-bottom: 2px solid black;
            }
        }
     }
 }