header {
    background-color: rgb(128, 128, 128, 0.8);

     h1 {
         margin: 0;
     }
     
     nav {
        margin: 5px;

        button {
            margin-right: 5px;
        }
     }
 }