@use 'variables';

#Home {
    @include variables.body;

    #hero {

        h2 {
            color: white;
        }

        img {
           width: 50%; 
        }
    }

    button {
        font-size: 1rem;
        position: absolute;
        bottom: 15px;
        cursor: pointer;
        border: none;
        background-color: rgb(255, 255, 255, 0.5);
        padding: 10px;
    }
}