@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');

body {
    background-image: url('../assets/Pizza-restaurant.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;

    font-family: 'Merienda', cursive;
    text-align: center;

    user-select: none;

    #content {
        min-height: 100vh;
        min-width: 100vw;

        display: flex;
        flex-direction: column;
    }

}

@import './header';
@import './home';
@import './about';
@import './menu';