body {
    margin: 0;
    text-align: center;

    #content {
        background-image: url('../assets/Pizza-restaurant.jpg');
        background-color: rgb(0, 128, 0, 0.2);
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

}

@import './header';
@import './home';
@import './about';